:root {
  --green: #4AD988;
  --light-green: #50F296;
  --light: #D8EDF2;
  --light-alpha: #D8EDF2cc;
  --dimmed: #2C3540;
  --dark: #191F26;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

* {
  box-sizing: border-box;
}

