.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  background-color: var(--dark-grayish);
  padding: 2.4rem 1.5rem;
  color: inherit;
  text-decoration: none;
  border-radius: 15px;
  max-width: 520px;
  display: grid;
  justify-items: center;
  text-align: center;
  position: relative;
}

.card h2 {
  color: var(--green);
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.card p {
  font-size: 1.75rem;
  line-height: 1.5;
  margin: 1rem 0 2rem 0;
}

.card .divider {
  display: grid;
  grid-template-columns: auto 6px 6px auto;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}

.card .divider .icon {
  background-color: var(--light);
  border-radius: 50px;
  height: 16px;
  width: 6px;
}

.card .divider .line {
  background-color: var(--grayish-blue);
  height: 1px;
  width: 95%;
}

.card .divider .line:last-child {
  justify-self: end;
}

.card .dice {
  background-color: var(--green);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 60px;
  width: 60px;
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  transition: 0.3s;
}

.card .dice:hover {
  box-shadow: 0px 0px 20px 1px var(--green);
  transition: 0.3s;
}